language: python
python:
- '2.7'
- '3.4'
- '3.5'
- '3.6'
install:
- "pip install pytest-cov"
script:
- "python setup.py test"
deploy:
  provider: pypi
  user: operations@shiwaforce.com
  password:
    secure: cwS9IQ1F2NrHWtFG2otSS06zwUYUpASu6gwHexomAnS2p8boOBlT1/VGfihY9YnE8fd6G/9lo91Nqz0a0e4PGAXLzgXvEnPitVKTi5OzYrYAB6zHw1QCLeEAfD/FKOFhUW4jx05zYA5G2xTvrk+72vReASnfVFk7sz0iYhCdkkY4nB+qBacIKZIInhI7fgReU91DT05Tn92gPAXnUPQSh2HO0FTpAGgp0FCiH+ADSEFUhJkeKqz9W8QoCCqjsQFB0ye8li4JC50pE2KcL0uUyL7llJQ7ar4+ox8Yo4nzxQ8SnKVVDyGdKMyuDWCqUIJ2G31kprezQvzHTC5QRgxWGvjMRz7sBUnKEzirc5YV4kiCtGLbkQdhDifBkj/Psz5OVmDjvS6IfodkyLST5Xr7tBd341nXstUoBP08ZD5VzyxfMS+wYjf+p00NsAxa7Xwamd1lfEWd9g1VyuRL6z1XgXorYUn4uoMYRXgggP8XlusLaeShylvYV2LUL3FQmSKabn5LttT+ne+bSs+l39Wr3j/1mrKni0Ms/EPQTbgA88UMHj+HvVu8X8dPAc5vFfuPjnUhPD5hg9tWjuzYzrdl8WvtvVUdFX2UbQCFno5ueHad5ponmFcODiVLLUGfjHrqj4UPh5coO2mmKAHmwA0qGHgRMGs/dDmtdiTll9QWbuI=
  on:
    tags: true
    branch: master